# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\bayou\IdeaProjects\demo1_almehdi_bayoudh_\demo1_almehdi_bayoudh_4twin7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
